*{
    box-sizing: border-box;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

body{
    display:flex;
    color: var(--cor-fonte);
}

:root{
    --cor-primaria: #0e1117;
    --cor-secundaria: #282a36;
    --cor-secundaria-hover: #363841;
    --cor-fonte: #f4f4f4;
    --transicao-padrao: 0.1s all linear;
}

.gerenciamento-container{
    overflow-y: scroll;
    padding: 20px;
    height: 100vh;
    width: 50%;
    background-color: var(--cor-primaria);
}

.titulo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo h1{
    font-weight: 100;
    border-bottom: 1px solid green;
}

.botao-sistema{
    align-self: start;
    margin-top:50px;
    text-decoration: none;
    transition: var(--transicao-padrao);
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-sistema:hover{
    background-color: #0056b3;
}

.area-gerenciamento{
    margin: 60px 20px 60px 20px
}

.area-gerenciamento p{
    font-size: 18px;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid green;
}

.area-gerenciamento p a{
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}

.area-gerenciamento p a:hover{
    color: #999;
}

.area-gerenciamento .btn-excluir{
    color: rgb(255, 120, 120);
}

.area-gerenciamento .btn-excluir:hover{
    color: rgb(236, 67, 67);
}

.area-gerenciamento .btn-visualizar{
    color: rgb(79, 209, 79);
}

.area-gerenciamento .btn-visualizar:hover{
    color: rgb(30, 160, 30);
}

.arquivos{
    margin-right: 10px;
}

.arquivo-container{
    height: 100vh;
    overflow-y: scroll;
    background-color: var(--cor-secundaria);
    width: 50%;
    padding: 20px;
}

.btn-excluirArquivo{
    transition: var(--transicao-padrao);
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(240, 41, 41);
    color: #fff;
}

.btn-excluirArquivo:hover{
    background-color: rgb(199, 20, 20);
}

.btn-downloadArquivo{
    transition: var(--transicao-padrao);
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(79, 209, 79);
    color: #fff;
}

.btn-downloadArquivo:hover{
    background-color: rgb(30, 160, 30);
}

.texto-arquivo{
    margin-bottom: 15px;
}

#area-confirmacao-exclusao{
    border-radius: 7px;
    border: 1px solid green;
    padding: 20px 15px;
    display:none;
}

#area-confirmacao-exclusao p{
    margin-bottom: 20px;
}

#area-confirmacao-exclusao .botao-confirmar-exclusao{
    transition: var(--transicao-padrao);
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(79, 209, 79);
    color: #fff;
}
#area-confirmacao-exclusao .botao-confirmar-exclusao:hover{
    background-color: rgb(30, 160, 30);
}

#area-confirmacao-exclusao .botao-cancelar-exclusao{
    transition: var(--transicao-padrao);
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(240, 41, 41);
    color: #fff;
}

#area-confirmacao-exclusao .botao-cancelar-exclusao:hover{
    background-color: rgb(199, 20, 20);
}